<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:url" content="http://features.dailybruin.com/2018/atomic-city/{{ article.slug }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ article.short_title }} | Atomic City | Daily Bruin" />
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />

  <title>{{ article.short_title }} | Atomic City | Daily Bruin</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.css" />
  <link href="https://fonts.googleapis.com/css?family=Karla|Lora|Passion+One:400,700" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.js"></script>
  <script src="script.js"></script>
</head>
