<nav class="navbar" id="myNavbar">
  <a href="#" id="menu">MENU</a>
  <a href="index.html" class="active">ASU</a>
  <a href="curlz.html">CAMPUS CURLZ</a>
  <a href="breakdown.html">BREAKDOWN</a>
  <a href="responsibility.html">RACE & RESPONSIBILITY</a>
  <a href="fighting.html">FIGHTING FOR CARE</a>
  <a href="shock.html">COLOR SHOCK</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</nav>
