<nav class="navbar" id="myNavbar">
  <a href="#" id="menu">MENU</a>
  {% for article in articles %}
    <a href="{{ article.slug }}"
      {% if article === page_article %}
        class="active"
      {% endif %}
    >
      {{ article.short_title }}
    </a>

  {% endfor %}
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</nav>
