<!DOCTYPE html>
<html lang="en">

{% include "components/head.njk" %}

<!-- Atomic City -->

<body>

<a href="http://dailybruin.com"><img id="db-refer" width="50px" src="http://dailybruin.com/images/2017/03/db-logo.png"></a>

<article class="article-text">

  {% include "components/header.njk" %}

  <div id="header-text">{{ page_article.headline }}</div>
  <div id="author-text">
    By <span class="uppercase">{{ page_article.author }}</span>
  </div>

  {% for graf in page_article.grafs %}
    {% if graf.type === 'text' %}
      <p>{{ graf.value }}</p>
    {% elif graf.type === 'image' %}
      <img src="{{ images.s3[graf.value].url }}" alt="">
      {% if images.s3[graf.value].hash === 'afb261ab2e9969478a648a77997b9ee6' or images.s3[graf.value].hash === 'e14597af818a6fa15025b883600a17c4' %}
        <div class="video-credit">Kristie-Valerie Hoang/Daily Bruin</div>
      {% endif %}
    {% endif %}
  {% endfor %}

</article>

{% include "components/navbar.njk" %}
{% include "components/footer.njk" %}

</body>
</html>
